body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.2;
  font-size: 11pt;
}
h1 {
  font-family: 'Georgia', serif;
  font-weight: normal;
}
.container {
  box-sizing: border-box;
  display: block;
  width: 50%;
  height: 100%;
  padding: 0.5em;
  float: left;
}
.headline--ui {
  padding: 0.5em 0;
  margin: 0 0 0.5em;
  border-bottom: thin silver solid;
}
.headline--ui h2 {
  font-family: 'Open Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
.js-sortable-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.js-sortable-container p {
  margin: 0;
  padding: 0.5em 0;
}
.ui-sortable-handle {
  display: block;
  background: transparent;
  cursor: move;
  margin-bottom: 1em;
  background: #fff
}
.ui-sortable-handle:hover {
  background-color: #eee;
}
.ui-sortable-helper {
  background-color: #eee;
  opacity: 0.7;
  overflow: hidden;
}
.js-sortable-container img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#drawer li {
  clear: both;
  overflow: hidden;
}

#editor li,
#drawer li {
  position: relative;
}
.toolbox {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.2s;
}
.ui-sortable-handle:hover .toolbox {
  opacity: 0.7;
}
.toolbox__dropdown {
  display: none;
  clear: both;
  margin: 0;
  padding: 0;
}
.toolbox__dropdown a {
  display: block;
  padding: 1em 2em 1em 1em;
  color: #fff;
  background: #444;
  text-decoration: none;
}
.toolbox__dropdown a:hover {
  background: #222;
}
.ui-sortable-handle .toolbox:hover {
  opacity: 1;
}
.toolbox:hover .toolbox__dropdown {
  display: block;
}
.toolbox__button {
  font-size: 1.2em;
  background: #444;
  color: #fff;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  float: right;
}
.state-icon {
  margin-right: 0.5em;
}

/* Options */
.option--float-left,
.option--float-right {
  z-index: 10;
}
.option--float-left {
  float: left;
  margin-right: 1em;
}
.option--float-right {
  float: right;
  margin-left: 1em;
}
