body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.2;
  font-size: 11pt;
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}
.side-by-side {
  display: flex;
  flex-direction: row;
}
.main, .sidebar {
  box-sizing: border-box;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 70%;
}
.sidebar {
  flex: 1 1 30%;
}
.container {
  flex: 1;
  display: flex;
  padding: 0.5em;
}
.scroll-container {
  overflow-y: auto;
  flex: 1;
}
#drawer .ui-sortable {
  border: medium dashed #ddd;
  padding: 0.5em;
}

.headline--ui,
.headline--ui--main {
  padding: 0.5em;
  margin: 0 0 0.5em;
  background: #444;
  color: #fff;
}
.headline--ui--main {
  margin: 0;
  background: #222;
  padding-bottom: 1em;
}

.headline--ui--main h1,
.headline--ui h2 {
  font-family: 'Open Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
.headline--ui--main h1 {
  font-weight: 100;
}
h1 {
  font-family: 'Georgia', serif;
  font-weight: normal;
}
.js-sortable-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.js-sortable-container p {
  margin: 0;
  padding: 0.5em 0;
}
.ui-sortable-handle {
  display: block;
  background: transparent;
  cursor: move;
  margin-bottom: 1em;
}
.ui-sortable-handle:hover {
  background-color: #efefef;
}
.ui-sortable-helper {
  opacity: 0.7;
  overflow: visible;
}
.js-sortable-container img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#drawer li {
  clear: both;
  overflow: visible;
}

#editor li,
#drawer li {
  position: relative;
}
.toolbox {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.2s;
  z-index: 12;
}
.ui-sortable-handle:hover .toolbox {
  opacity: 0.7;
}
.toolbox__dropdown {
  display: none;
  clear: both;
  margin: 0;
  padding: 0;
}
.toolbox__dropdown a {
  display: block;
  padding: 1em 2em 1em 1em;
  color: #fff;
  background: #444;
  text-decoration: none;
}
.toolbox__dropdown a:hover {
  background: #222;
}
.ui-sortable-handle .toolbox:hover {
  opacity: 1;
}
.toolbox:hover .toolbox__dropdown {
  display: block;
}
.toolbox__button {
  font-size: 1.2em;
  background: #444;
  color: #fff;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  float: right;
}
.state-icon {
  margin-right: 0.5em;
}

/* Options */
.option--pos-fill .content {
  width: 100%;
}
.option--pos-left,
.option--pos-right {
  z-index: 10;
  max-width: 30%;
}
.option--pos-left {
  float: left;
  margin-right: 1em;
}
.option--pos-right {
  float: right;
  margin-left: 1em;
}
